{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h3>{{ title }}</h3><br>
            <form method="POST" action="">

                    <div class="form-group">
                    {{ form.media }}
                    {% csrf_token %}
                    <div class="form-group">
                    <label>Answer</label><br>
                        {{ form.ans }}<br><br>
                    <input class="btn btn-success" type="submit" value='Submit'>
            </form>
        </div>
    </div>
</div>
</div>
</div>

{% endblock container %}
