{% extends 'base.html' %}

{% block title %}{{ block.super }}Change Password{% endblock %}

{% block navbar %}{% endblock navbar %}

{% block container %}
{% if validlink %}
<div class="container">
  <div class="col-lg-offset-4 col-lg-4">
    <h2 class="text-center">Change password</h2>
    <form method="post">
      {% csrf_token %}
      {% if form.errors %}
      <div class="alert alert-danger">
        Password didn't match.
        Please try again.
        <a class="close" data-dismiss="alert">×</a>
      </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          <p>
            {{ field.label_tag }}<br>
            <input class="form-control" {{ field }} </p>
            {% endfor %}
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
        </div>
      </form>
    </form>
    {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
    {% endif %}
    {% endblock %}

    {% block footer %}{% endblock %}