{% extends 'base.html' %}

{% block title %}{{ block.super }}Forgot Password{% endblock %}

{% block navbar %}{% endblock navbar %}

{% block container %}
<div class="container">
  <div class="col-lg-offset-4 col-lg-4">
    <h2 class="text-center">Forgot password</h2>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <p>
          {{ field.label_tag }}<br>
          <input class="form-control" {{ field }} </p>
          {% endfor %}
          <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Reset password</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}