{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{{ block.super }}Offline{% endblock %}
</head>
<body>
  {% block navbar %}
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'home' %}">
                  {% block navbar-brand %}
                      {% include "brandname.html" %}
                  {% endblock navbar-brand %}
              </a>
          </div>
        </div>
      </nav>
 {% endblock navbar %}

{% block container %}
<div class="container">
  <div class="alert alert-danger" role="alert">
    You are currently not connected to any networks!
  </div>
</div>
{% endblock container %}
</body>
</html>
